@import "../../Style/mixin";

@mixin breakpoint($point) {
  @if $point == "md" {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}

.movie_list {
  position: absolute;
  width: 100%;
  bottom: 6%;
  // top: 22%;
  left: 0;
  right: 0;
  z-index: 2;
  // transform: translate(0, 20%);

  &_genre_container {
    background: rgba(43, 27, 46, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 1rem;
    width: 68%;
    border-radius: 3rem;
    flex-wrap: wrap;
    overflow: hidden;

    @include breakpoint("md") {
      flex-direction: row;
    }

    h3 {
      color: $green-color;
      font-size: 2.5vw;
      font-weight: 400;
    }

    p {
      color: $green-color;
      font-size: 1.8rem;
    }

    &_list {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 1rem;
      flex-wrap: wrap;

      .list_items button {
        background-color: transparent;
        cursor: pointer;
        color: $grape-color;
        width: auto;
        text-align: center;
        border: 1px solid $green-color;
        padding: 1rem;
        border-radius: 50px;
        font-size: 1.5em;
      }

      .list_items button.list_items_toggle_active {
        background-color: $green-color;
        cursor: pointer;
        color: $white-color;
        width: auto;
        text-align: center;
        border: 1px solid $green-color;
        padding: 1rem;
        border-radius: 50px;
        font-size: 1.5em;
      }
    }
  }
}
