// background Color
$primary-color: #2b1b2e;
$white-color: #ffffff;
$grape-fade: #573b5c;
$green-color: #12b222;
$red-color: #e90000;
$grape-opacity: #2b1b2e60;

// Text Color
$grape-color: #c3a6c9;
$yellow-color: #e5e28f;
$black-color: #000000;
