@import "../../Style/mixin";

.genre {
  position: absolute;
  width: 100%;
  top: 16%;

  &_title_container {
    display: flex;
    align-items: center;
    gap: 20px;

    h1 {
      color: $white-color;
      font-size: 2rem;
      font-weight: 500;
    }
  }

  &_movie_container {
    // Make margin top global style
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    z-index: 2;
    // background-color: red;
    min-height: 250px;

    &_button {
      cursor: pointer;
      border: 2px solid $green-color;
      padding: 0 5rem;
      // border: none;
      border-radius: 10px;
      font-size: 1rem;
    }

    &_button:hover {
      border: 2px solid $green-color;
      background-color: $green-color;
    }
  }
}
